<mat-card>
  <mat-spinner *ngIf="estaCarregando"></mat-spinner>
  <form
    [formGroup]="form"
    (submit)="onSalvarLembrete(lembreteForm)"
    *ngIf="!estaCarregando"
  >
    <mat-form-field>
      <input
        matInput
        required
        type="text"
        placeholder="Título"
        formControlName="titulo"
        name="titulo"
      />
      <mat-error *ngIf="form.get('titulo').invalid"
        >Digite um título válido</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Descrição"
        formControlName="descricao"
        name="descricao"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        required
        type="text"
        placeholder="Data de cadastro"
        formControlName="datacad"
        name="datacad"
      />
      <mat-error *ngIf="form.get('datacad').invalid"
        >Digite a data válida de cadastro </mat-error
      >

    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        required
        type="text"
        placeholder="Data de acontecimento"
        formControlName="datareal"
        name="datareal"
      />
      <mat-error *ngIf="form.get('datareal').invalid"
        >Digite uma data válida de acontecimento</mat-error
      >
    </mat-form-field>

    

    <button style="margin-top: 1rem" color="warn" mat-raised-button>
      Salvar Dados
    </button>
  </form>
</mat-card>
